



<div class="container mb-5">
  <h1 style="text-align:center">Registro de citas</h1>
  <div class="row mb-3">
    <div class="col-6">
      <label for="exampleFormControlInput1" class="form-label">Tipo Documento</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Seleccionar</option>
        <option value="1">DNI</option>
        <option value="2">RUC</option>
      </select>
    </div>
    <div class="col-6">
      <label for="exampleFormControlInput1" class="form-label">Nro Documento</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="col-12">
        <label for="exampleFormControlInput1" class="form-label">Nombre Completo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="col-6">
        <label for="exampleFormControlInput1" class="form-label">Especialidad</label>
        <select class="form-select" aria-label="Default select example">
          <option selected value="0">Seleccionar</option>
          <option value="1">Alergología</option>
          <option value="2">Anestesiología</option>
          <option value="3">Cardiología</option>
          <option value="4">Endocrinología</option>
          <option value="5">Estomatología</option>
        </select>
      </div>
    </div>
  </div>
  <button class="btn btn-primary">registrar Cita</button>




</div>
<div class="container mt-5">


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nro Documento</th>
        <th scope="col">Nombre Apellido </th>
        <th scope="col">Especialidad</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
